
#player1-moves, #player2-moves {
  width: 100%;
  padding: 5px;
  background-color:yellow;
  border: 5px solid ;
  border-color: coral;
  color: blue;
  font-size: 25px;
  text-align: center;
  }
 ​
  #player1-view, #player2-view {
      width: 600px;
      
  }

  #player1-view {
    float:left;
    width: 20%;
  }

  #player2-view {
    float:right;
    width: 20%;
  }
 ​
 ​
  #players-view {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
  }
